body {
        padding-left: 11em;
        font-family: Georgia, "Times New Roman",
              Times, serif;
        color: rgb(0, 247, 255);
        background-color: rgb(151, 103, 13) }
        ul.navbar {
            list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 2em;
        left: 1em;
        width: 9em }
        h1 {
        font-family: Helvetica, Geneva, Arial,
              SunSans-Regular, sans-serif }
              ul.navbar li {